@import "../../scss/varibles";

.page {
  padding-top: 30px;
  padding-bottom: 60px;
  display: flex;
}



.nav {
  font-size: 16px;
  width: 200px;
  nav {
    position: sticky;
    top: 120px;
  }
  h3 {
    font-size: 14px;
    font-weight: 400;
    opacity: .7;
  }

  ul {
    list-style: none;
    padding-left: 1em;
  }

  li {
    padding: .5em 0;

    a {
      color: #555;
      text-decoration: none;
      position: relative;
      display: block;
      span {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &:hover {
        color: $color-primary;
      }

      &.active {
        color: $color-primary;

        &:before {
          content: "";
          height: 1em;
          display: inline-block;
          box-sizing: border-box;
          left: -14px;
          border-left: 2px solid $color-primary;
          position: absolute;
        }
      }
    }
  }
}

.doc-content {
  flex: 1;
  background: #fff;
  padding: 0 30px 20px;
  border-radius: 4px;
  line-height: 1.5em;
  color: #555;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);

  ::v-deep {
    a {
      color: $color-primary;
    }

    img {
      max-width: 100%;
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: Menlo, Consolas, "Source Code Pro", Monaco, "Microsoft YaHei";
    }

    h2, h3, h4, h5, h6 {
      margin-top: 2em;
    }
  }
}

.links {
  width: 200px;
}
@media (min-width: $screen-sm-min) {
  .auto-hide {
    display: none;
  }
}

@media (min-width: $screen-md-min) {
  .auto-hide {
    display: block;
  }
}

@media (min-width: $screen-lg-min) {

}
