.ui-container {
  .notice {
    text-align: center;
    padding: 20px 0;
  }

  .doc {
    margin: 0 auto;
    max-width: 780px;
    background: #fff;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);
    border-radius: 5px;
    min-height: 800px;
    padding: 20px 40px;
  }
}


.users {
  text-align: center;
  div {
    display: inline-block;
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    color: #fff;
    overflow: hidden;
  }
}
