@import "./_mixins/clearfix";
@import "./_mixins/fill-box";
@import "./_mixins/flex-center";
@import "./_mixins/focus";
@import "./_mixins/input";
@import "./_mixins/linker";
@import "./_mixins/list-unstyled";
@import "./varibles";
@import "./container";
@import "./float";
@import "./grid";

@import "~@textbus/editor/assets/index";
@import "~@textbus/editor/assets/icons/style.css";

@import "./v1-doc";
@import "./v2-doc";

* {
  box-sizing: border-box;
}

body {
  //background: aliceblue;
  background: #fafafa;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  color: #333;
  font-size: 16px;
}

html {
  height: 100%;
}

#app {
  height: 100%;
}
